In [1]:
import numpy as np
import pandas as pd

In [2]:
stocks = pd.read_csv("../data/dowjones/all_stocks_2006-01-01_to_2018-01-01.csv", index_col='Date',parse_dates=['Date'])
stocks = stocks[["Close", "Name"]]
stocks = stocks.pivot_table(values='Close', index=stocks.index, columns='Name', aggfunc='first')
stocks.head()

Name,AABA,AAPL,AMZN,AXP,BA,CAT,CSCO,CVX,DIS,GE,...,MSFT,NKE,PFE,PG,TRV,UNH,UTX,VZ,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2006-01-03,40.91,10.68,47.58,52.58,70.44,57.80,17.45,59.08,24.40,35.37,...,26.84,10.74,23.78,58.78,45.99,61.73,56.53,30.38,46.23,58.47
2006-01-04,40.97,10.71,47.25,51.95,71.17,59.27,17.85,58.91,23.99,35.32,...,26.97,10.69,24.55,58.89,46.50,61.88,56.19,31.27,46.32,58.57
2006-01-05,41.53,10.63,47.65,52.50,70.33,59.27,18.35,58.19,24.41,35.23,...,26.99,10.76,24.58,58.70,46.95,61.69,55.98,31.63,45.69,58.28
2006-01-06,43.21,10.90,47.87,52.68,69.35,60.45,18.77,59.25,24.74,35.47,...,26.91,10.72,24.85,58.64,47.21,62.90,56.16,31.35,45.88,59.43
2006-01-09,43.42,10.86,47.08,53.99,68.77,61.55,19.06,58.95,25.00,35.38,...,26.86,10.88,24.85,59.08,47.23,61.40,56.80,31.48,45.71,59.40

In [3]:
real_returns = stocks / stocks.shift(1)
real_returns = real_returns.dropna()
real_returns.head()

Name,AABA,AAPL,AMZN,AXP,BA,CAT,CSCO,CVX,DIS,GE,...,MSFT,NKE,PFE,PG,TRV,UNH,UTX,VZ,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2006-01-04,1.001467,1.002809,0.993064,0.988018,1.010363,1.025433,1.022923,0.997123,0.983197,0.998586,...,1.004844,0.995345,1.032380,1.001871,1.011089,1.002430,0.993985,1.029296,1.001947,1.001710
2006-01-05,1.013669,0.992530,1.008466,1.010587,0.988197,1.000000,1.028011,0.987778,1.017507,0.997452,...,1.000742,1.006548,1.001222,0.996774,1.009677,0.996930,0.996263,1.011513,0.986399,0.995049
2006-01-06,1.040453,1.025400,1.004617,1.003429,0.986066,1.019909,1.022888,1.018216,1.013519,1.006812,...,0.997036,0.996283,1.010985,0.998978,1.005538,1.019614,1.003215,0.991148,1.004158,1.019732
2006-01-09,1.004860,0.996330,0.983497,1.024867,0.991637,1.018197,1.015450,0.994937,1.010509,0.997463,...,0.998142,1.014925,1.000000,1.007503,1.000424,0.976153,1.011396,1.004147,0.996295,0.999495
2006-01-10,0.989866,1.063536,0.969626,0.997036,1.004799,0.995938,0.995278,1.004919,1.012800,0.994630,...,1.005212,1.001838,0.983501,0.996107,0.992801,1.019707,1.000704,1.004130,1.003282,1.007744

In [4]:
real_returns.product().mean()

3.790178028501573