In [1]:
import numpy as np
import pandas as pd

In [2]:
stocks = pd.read_csv("../data/dowjones/all_stocks_2006-01-01_to_2018-01-01.csv", index_col='Date',parse_dates=['Date'])
stocks = stocks[["Close", "Name"]]
stocks = stocks.pivot_table(values='Close', index=stocks.index, columns='Name', aggfunc='first')
stocks.head()

Name,AABA,AAPL,AMZN,AXP,BA,CAT,CSCO,CVX,DIS,GE,...,MSFT,NKE,PFE,PG,TRV,UNH,UTX,VZ,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2006-01-03,40.91,10.68,47.58,52.58,70.44,57.80,17.45,59.08,24.40,35.37,...,26.84,10.74,23.78,58.78,45.99,61.73,56.53,30.38,46.23,58.47
2006-01-04,40.97,10.71,47.25,51.95,71.17,59.27,17.85,58.91,23.99,35.32,...,26.97,10.69,24.55,58.89,46.50,61.88,56.19,31.27,46.32,58.57
2006-01-05,41.53,10.63,47.65,52.50,70.33,59.27,18.35,58.19,24.41,35.23,...,26.99,10.76,24.58,58.70,46.95,61.69,55.98,31.63,45.69,58.28
2006-01-06,43.21,10.90,47.87,52.68,69.35,60.45,18.77,59.25,24.74,35.47,...,26.91,10.72,24.85,58.64,47.21,62.90,56.16,31.35,45.88,59.43
2006-01-09,43.42,10.86,47.08,53.99,68.77,61.55,19.06,58.95,25.00,35.38,...,26.86,10.88,24.85,59.08,47.23,61.40,56.80,31.48,45.71,59.40

In [3]:
real_returns = (stocks - stocks.shift(1)) / stocks.shift(1)
real_returns = real_returns.dropna()
real_returns.head()

Name,AABA,AAPL,AMZN,AXP,BA,CAT,CSCO,CVX,DIS,GE,...,MSFT,NKE,PFE,PG,TRV,UNH,UTX,VZ,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2006-01-04,0.001467,0.002809,-0.006936,-0.011982,0.010363,0.025433,0.022923,-0.002877,-0.016803,-0.001414,...,0.004844,-0.004655,0.032380,0.001871,0.011089,0.002430,-0.006015,0.029296,0.001947,0.001710
2006-01-05,0.013669,-0.007470,0.008466,0.010587,-0.011803,0.000000,0.028011,-0.012222,0.017507,-0.002548,...,0.000742,0.006548,0.001222,-0.003226,0.009677,-0.003070,-0.003737,0.011513,-0.013601,-0.004951
2006-01-06,0.040453,0.025400,0.004617,0.003429,-0.013934,0.019909,0.022888,0.018216,0.013519,0.006812,...,-0.002964,-0.003717,0.010985,-0.001022,0.005538,0.019614,0.003215,-0.008852,0.004158,0.019732
2006-01-09,0.004860,-0.003670,-0.016503,0.024867,-0.008363,0.018197,0.015450,-0.005063,0.010509,-0.002537,...,-0.001858,0.014925,0.000000,0.007503,0.000424,-0.023847,0.011396,0.004147,-0.003705,-0.000505
2006-01-10,-0.010134,0.063536,-0.030374,-0.002964,0.004799,-0.004062,-0.004722,0.004919,0.012800,-0.005370,...,0.005212,0.001838,-0.016499,-0.003893,-0.007199,0.019707,0.000704,0.004130,0.003282,0.007744

Construct an equally weighted portfolio at the beginning, no modification

In [4]:
(real_returns + 1).product().mean()

3.7901780285015745

Equally weighted portfolio

In [5]:
(real_returns + 1).mean(axis = 1).product()

3.5255573996595277

In [6]:
# probabilities = pd.DataFrame(np.random.rand(2250, 31), columns=real_returns.columns)

In [7]:
probabilities = real_returns
probabilities = probabilities.apply(lambda x: [np.random.rand() for i in x], axis=1, result_type='broadcast')

In [8]:
probabilities.head()

Name,AABA,AAPL,AMZN,AXP,BA,CAT,CSCO,CVX,DIS,GE,...,MSFT,NKE,PFE,PG,TRV,UNH,UTX,VZ,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2006-01-04,0.875405,0.776923,0.208689,0.154747,0.108761,0.185866,0.918365,0.825431,0.457640,0.577731,...,0.420276,0.391561,0.517245,0.227190,0.915258,0.015687,0.015400,0.547274,0.396965,0.640358
2006-01-05,0.545992,0.010417,0.851901,0.511186,0.594928,0.929100,0.345640,0.221478,0.921770,0.555877,...,0.019401,0.827678,0.739332,0.061294,0.973173,0.022717,0.802224,0.700378,0.102552,0.259263
2006-01-06,0.594925,0.876250,0.741090,0.482375,0.380403,0.510438,0.226557,0.221290,0.120609,0.018999,...,0.265969,0.466804,0.305689,0.018912,0.591383,0.530642,0.939229,0.873312,0.902300,0.946582
2006-01-09,0.994067,0.832468,0.433924,0.989117,0.132583,0.694236,0.351561,0.141795,0.275520,0.059430,...,0.598516,0.062863,0.049830,0.339848,0.148730,0.558505,0.057536,0.549342,0.580636,0.127119
2006-01-10,0.392158,0.005811,0.595046,0.312321,0.920009,0.670230,0.076031,0.263497,0.413847,0.044040,...,0.608224,0.676070,0.935584,0.800673,0.471779,0.739997,0.711351,0.915666,0.563633,0.374049

In [9]:
def long_short_postion(returns, k):
    positions = returns
    short = np.argpartition(positions, k)[:k]
    neutral = np.argpartition(positions, len(positions) - k)[:(len(positions) - k)]
    positions[:] = 1
    positions[neutral] = 0
    positions[short] = -1
    return positions

In [10]:
positions = probabilities
k = 10
positions.apply(lambda x: long_short_postion(x, k), axis=1, result_type='broadcast')
positions.head()

Name,AABA,AAPL,AMZN,AXP,BA,CAT,CSCO,CVX,DIS,GE,...,MSFT,NKE,PFE,PG,TRV,UNH,UTX,VZ,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2006-01-04,1.0,1.0,-1.0,-1.0,-1.0,-1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,-1.0,1.0,-1.0,-1.0,0.0,0.0,1.0
2006-01-05,0.0,-1.0,1.0,0.0,0.0,1.0,-1.0,-1.0,1.0,0.0,...,-1.0,1.0,0.0,-1.0,1.0,-1.0,1.0,0.0,-1.0,-1.0
2006-01-06,0.0,1.0,1.0,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,0.0,-1.0,-1.0,0.0,0.0,1.0,1.0,1.0,1.0
2006-01-09,1.0,1.0,0.0,1.0,-1.0,1.0,0.0,-1.0,0.0,-1.0,...,0.0,-1.0,-1.0,0.0,-1.0,0.0,-1.0,0.0,0.0,-1.0
2006-01-10,0.0,-1.0,0.0,-1.0,1.0,0.0,-1.0,-1.0,0.0,-1.0,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,-1.0

In [11]:
probabilities.head()

Name,AABA,AAPL,AMZN,AXP,BA,CAT,CSCO,CVX,DIS,GE,...,MSFT,NKE,PFE,PG,TRV,UNH,UTX,VZ,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2006-01-04,1.0,1.0,-1.0,-1.0,-1.0,-1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,-1.0,1.0,-1.0,-1.0,0.0,0.0,1.0
2006-01-05,0.0,-1.0,1.0,0.0,0.0,1.0,-1.0,-1.0,1.0,0.0,...,-1.0,1.0,0.0,-1.0,1.0,-1.0,1.0,0.0,-1.0,-1.0
2006-01-06,0.0,1.0,1.0,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,0.0,-1.0,-1.0,0.0,0.0,1.0,1.0,1.0,1.0
2006-01-09,1.0,1.0,0.0,1.0,-1.0,1.0,0.0,-1.0,0.0,-1.0,...,0.0,-1.0,-1.0,0.0,-1.0,0.0,-1.0,0.0,0.0,-1.0
2006-01-10,0.0,-1.0,0.0,-1.0,1.0,0.0,-1.0,-1.0,0.0,-1.0,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,-1.0

In [12]:
real_returns.head(10)

Name,AABA,AAPL,AMZN,AXP,BA,CAT,CSCO,CVX,DIS,GE,...,MSFT,NKE,PFE,PG,TRV,UNH,UTX,VZ,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2006-01-04,0.001467,0.002809,-0.006936,-0.011982,0.010363,0.025433,0.022923,-0.002877,-0.016803,-0.001414,...,0.004844,-0.004655,0.032380,0.001871,0.011089,0.002430,-0.006015,0.029296,0.001947,0.001710
2006-01-05,0.013669,-0.007470,0.008466,0.010587,-0.011803,0.000000,0.028011,-0.012222,0.017507,-0.002548,...,0.000742,0.006548,0.001222,-0.003226,0.009677,-0.003070,-0.003737,0.011513,-0.013601,-0.004951
2006-01-06,0.040453,0.025400,0.004617,0.003429,-0.013934,0.019909,0.022888,0.018216,0.013519,0.006812,...,-0.002964,-0.003717,0.010985,-0.001022,0.005538,0.019614,0.003215,-0.008852,0.004158,0.019732
2006-01-09,0.004860,-0.003670,-0.016503,0.024867,-0.008363,0.018197,0.015450,-0.005063,0.010509,-0.002537,...,-0.001858,0.014925,0.000000,0.007503,0.000424,-0.023847,0.011396,0.004147,-0.003705,-0.000505
2006-01-10,-0.010134,0.063536,-0.030374,-0.002964,0.004799,-0.004062,-0.004722,0.004919,0.012800,-0.005370,...,0.005212,0.001838,-0.016499,-0.003893,-0.007199,0.019707,0.000704,0.004130,0.003282,0.007744
2006-01-11,-0.025826,0.038095,-0.015772,-0.005387,0.014472,0.000489,0.022667,0.010128,0.009479,0.006820,...,0.010741,0.000917,0.012684,0.003568,0.016208,-0.012139,-0.015130,0.012022,0.015482,0.006849
2006-01-12,-0.023406,0.004170,-0.012686,0.000187,-0.005849,0.014349,-0.010309,0.000836,0.003130,-0.012137,...,-0.005497,-0.010999,-0.006869,-0.011006,-0.005876,0.010994,-0.009289,0.003751,-0.017823,-0.010453
2006-01-13,-0.024211,0.015781,0.000902,-0.002054,-0.003013,0.001929,-0.014583,0.007848,0.002340,0.002857,...,0.001842,-0.000927,0.003662,0.008389,-0.002533,-0.025428,0.003606,0.002180,-0.007433,0.022300
2006-01-17,0.005263,-0.010630,-0.009009,-0.008982,-0.011370,0.010107,-0.012685,0.024851,-0.012451,-0.004558,...,-0.007356,-0.016698,-0.015809,-0.004244,-0.017354,0.000985,0.005749,-0.021753,-0.009912,0.009349
2006-01-18,-0.122912,-0.026446,0.007273,-0.001888,-0.004076,-0.010006,0.002677,-0.005820,-0.006304,-0.004293,...,-0.005928,0.005660,-0.007825,-0.001705,0.002154,0.003607,0.000179,-0.009212,-0.001557,-0.007312

In [13]:
random_returns = real_returns.mul(positions)
random_returns.head()

Name,AABA,AAPL,AMZN,AXP,BA,CAT,CSCO,CVX,DIS,GE,...,MSFT,NKE,PFE,PG,TRV,UNH,UTX,VZ,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2006-01-04,0.001467,0.002809,0.006936,0.011982,-0.010363,-0.025433,0.022923,-0.002877,-0.000000,-0.000000,...,0.000000,-0.000000,0.000000,-0.001871,0.011089,-0.002430,0.006015,0.000000,0.000000,0.001710
2006-01-05,0.000000,0.007470,0.008466,0.000000,-0.000000,0.000000,-0.028011,0.012222,0.017507,-0.000000,...,-0.000742,0.006548,0.000000,0.003226,0.009677,0.003070,-0.003737,0.000000,0.013601,0.004951
2006-01-06,0.000000,0.025400,0.004617,0.000000,-0.000000,0.000000,-0.022888,-0.018216,-0.013519,-0.006812,...,0.002964,-0.000000,-0.010985,0.001022,0.000000,0.000000,0.003215,-0.008852,0.004158,0.019732
2006-01-09,0.004860,-0.003670,-0.000000,0.024867,0.008363,0.018197,0.000000,0.005063,0.000000,0.002537,...,-0.000000,-0.014925,-0.000000,0.000000,-0.000424,-0.000000,-0.011396,0.000000,-0.000000,0.000505
2006-01-10,-0.000000,-0.063536,-0.000000,0.002964,0.004799,-0.000000,0.004722,-0.004919,0.000000,0.005370,...,0.000000,0.001838,-0.016499,-0.003893,-0.000000,0.019707,0.000704,0.004130,0.000000,-0.007744

In [14]:
random_returns = random_returns[750:3000]

In [15]:
(random_returns + 1).product().sum()/(2 * k)

1.6160205766773277

In [16]:
(1 + random_returns.sum(axis = 1)/(2 * k)).product()

0.9980706486773927